<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<div class="my-5" id="cluster-map"></div>
<h1 class="text-center my-5 text-white">All Campgrounds</h1>
<div id="campgrounds-container">
	<% for(let i=0; i < 3; i++){ %>
	<div
		class="container mx-auto card shadow row flex-row mb-4 py-3 rounded-4 bg-white bg-opacity-50 justify-content-center"
	>
		<div class="col-lg-4 d-flex justify-content-center">
			<% if(campgrounds[i].images.length) {%>
			<img
				crossorigin="anonymous"
				class="mx-auto img-idx rounded-circle"
				src="<%= campgrounds[i].images[0].url %>"
				alt=""
			/>
			<% }else{ %>
			<img
				crossorigin="anonymous"
				class="img-idx"
				src="https://res.cloudinary.com/dxce9qhat/image/upload/v1693418156/YelpCamp/iagd2csdgqsqud7ahtnm.jpg"
				alt=""
			/>
			<% } %>
		</div>
		<div class="col-lg-8">
			<div class="card-body">
				<h3 class="card-title fw-bold"><%= campgrounds[i].title %></h3>
				<p class="card-text fs-6 fw-bold"><%= campgrounds[i].description %></p>
				<p class="card-text">
					<small class="text fw-bold"><%= campgrounds[i].location %></small>
				</p>
				<a
					class="btn btn-primary camp-btn"
					href="/campgrounds/<%= campgrounds[i]._id %>"
					>Visit <%= campgrounds[i].title %></a
				>
			</div>
		</div>
	</div>
	<% } %>
</div>
<div id="loading-indicator" style="display: none" class="my-5">
	<h3 class="text-white text-center py-3">Loading...</h3>
	<div class="loading-spinner"></div>
</div>
<script>
	const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
	const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>

<script src="/js/idxScroll.js"></script>
<script src="/js/clusterMap.js"></script>
